body {
  font-family: 'Lato', sans-serif;
}

p {
  color: #B2B2B2 !important;
  font-weight: 600;
}


img {
  max-width: 100%;
  height: auto !important;
}

.logo {
  margin-top: 2em;
}

.logo img {
  margin-left: 3.6em;
}

.titles {
  float: right;
}

.name {
  font-weight: 100;
  font-size: 450%;
  color: #2FAEB2;
}

.title {
  font-weight: 700;
  font-size: 150%;
  color: #666666;
}

.slashes {
  font-weight: 400;
  color: #2FAEB2;
}

.main {
  border-radius: 14px;
  margin: 0 auto;
}

hr {
  background: #2FAEB2;
  height: .25em;
}

.finderSeries {
  margin-top: 3em;
  color: #2FAEB2;
}

.finderSeries p {
  color: #666666;
}

.featured {
  margin-top: 1em;
}

.featured .pics {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
}

.featured h3 {
  color: #2FAEB2;
}

.navbar {
  display: block;
  border: 1px solid #BCBBBB;
  margin: 0 auto;
  margin-top: 5%;
  width: 100%;
  height: 3em;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
}

.navbar li {
  display: inline;
  margin-right: 20px;
  position: relative;
  top: 1em;
}

.navbar li a {
  color: #666666;
  text-decoration: none;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.navbar li a:hover {
  font-weight: bold;
  color: #2FAEB2;
}

@media only screen and (max-width: 996px) {
  .fPics img {
    display: inline-block;
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 760px) {
  .name {
    font-size: 400%;
  }

}

@media only screen and (max-width: 690px) {
  .name {
    font-size: 350%;
  }

}

@media only screen and (max-width: 600px) {
  .name {
    font-size: 250%;
  }

}

@media only screen and (max-width: 420px) {
  .logo img {
    display: none;
  }
}



